## Show the tables in schema

In [13]:
import sys
import os
sys.path.append(os.path.abspath(".."))  # adding the parent directory of 'notebooks' to sys.path
from db_utils.db_setup import Database
from sqlalchemy import text
engine = Database()
schema_list = ["mimiciv_icu", "mimiciv_hosp"]
for schema in schema_list:
    print(f"Schema: {schema}")
    tables = Database.show_tables_in_schema(engine, schema)
    print(tables)

2025-06-13 14:23:13,287 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2025-06-13 14:23:13,287 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-13 14:23:13,288 INFO sqlalchemy.engine.Engine select current_schema()
2025-06-13 14:23:13,288 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-13 14:23:13,289 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2025-06-13 14:23:13,289 INFO sqlalchemy.engine.Engine [raw sql] {}
Schema: mimiciv_icu
2025-06-13 14:23:13,291 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-06-13 14:23:13,291 INFO sqlalchemy.engine.Engine SELECT table_name FROM information_schema.tables WHERE table_schema = %(schema)s
2025-06-13 14:23:13,291 INFO sqlalchemy.engine.Engine [generated in 0.00060s] {'schema': 'mimiciv_icu'}
['caregiver', 'chartevents', 'datetimeevents', 'd_items', 'icustays', 'ingredientevents', 'inputevents', 'outputevents', 'procedureevents']
Schema: mimiciv_hosp
2025-06-13 14:23:13,295 INFO sqlalchemy.engine.Engine SELECT table_name FROM information_schema.tables WHERE table_schema = %(schema)s
2025-06-13 14:23:13,295 INFO sqlalchemy.engine.Engine [cached since 0.004075s ago] {'schema': 'mimiciv_hosp'}
['admissions', 'd_hcpcs', 'diagnoses_icd', 'd_icd_diagnoses', 'd_icd_procedures', 'd_labitems', 'drgcodes', 'emar_detail', 'emar', 'hcpcsevents', 'labevents', 'microbiologyevents', 'omr', 'patients', 'pharmacy', 'poe_detail', 'poe', 'prescriptions', 'procedures_icd', 'provider', 'services', 'transfers']

# Getting all `labevents` data and filtering

##### Fetching `demographic` data

In [ ]:
from dotenv import load_dotenv
import os
import pandas as pd
from sqlalchemy import create_engine, text
from psycopg2.extras import execute_values

# Load environment variables
load_dotenv()
DB_USER = os.getenv("DB_USER")
DB_PASS = os.getenv("DB_PASS")
DB_HOST = os.getenv("DB_HOST")
DB_PORT = os.getenv("DB_PORT")
DB_NAME = os.getenv("DB_NAME")

# Create SQLAlchemy engine
url = f"postgresql+psycopg2://{DB_USER}:{DB_PASS}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
engine = create_engine(url)
conn = engine.connect()
cursor = conn.connection.cursor()

# Creating a TEMPORARY table
cursor.execute("""
    CREATE TEMP TABLE temp_cohort (
        subject_id INT,
        hadm_id INT,
        admittime TIMESTAMP,
        dischtime TIMESTAMP,
        target  INT
    );
""")

# Loading the CSV and insert into temp_cohort
cohort_df = pd.read_csv('../assets/cohort1_target.csv')
cohort_df['admittime'] = pd.to_datetime(cohort_df['admittime'], errors='coerce')
cohort_df['dischtime'] = pd.to_datetime(cohort_df['dischtime'], errors='coerce')

values = list(cohort_df.itertuples(index=False, name=None))
execute_values(cursor,
    "INSERT INTO temp_cohort (subject_id, hadm_id, admittime, dischtime, target) VALUES %s",
    values
)

# Fetching demographic data from admissions table
cursor.execute("""
    SELECT 
        c.subject_id,
        c.hadm_id,
        c.admittime,
        c.dischtime,
        c.target,
        p.gender,
        p.anchor_age,
        a.race
    FROM temp_cohort c
    JOIN mimiciv_hosp.admissions a ON c.hadm_id = a.hadm_id
    JOIN mimiciv_hosp.patients p ON a.subject_id = p.subject_id

""")

rows = cursor.fetchall()

# Finally creating DataFrame 
columns = ['subject_id', 'hadm_id', 'admittime', 'dischtime', 'target', 'gender', 'anchor_age', 'race']
final_df = pd.DataFrame(rows, columns=columns)
# Save the final DataFrame to a Parquet file
final_df['admittime'] = pd.to_datetime(final_df['admittime'], errors='coerce')
final_df['dischtime'] = pd.to_datetime(final_df['dischtime'], errors='coerce')
final_df['anchor_age'] = pd.to_numeric(final_df['anchor_age'], errors='coerce')
final_df['target'] = pd.to_numeric(final_df['target'], errors='coerce')
final_df.to_parquet("../dataset/raw/cohort_with_demographic_data.parquet", index=False)

# Finalize
conn.connection.commit()
cursor.close()
conn.close()

In [4]:
demog_df = pd.read_parquet("../dataset/raw/cohort_with_demographic_data.parquet")
demog_df.head(5)  # Display the first 5 rows of the raw Parquet file

,subject_id,hadm_id,admittime,dischtime,target,gender,anchor_age,race
0,10010231,23835132,2118-04-02 11:54:00,2118-04-07 11:26:00,0,M,57,HISPANIC/LATINO - GUATEMALAN
1,10010231,23835132,2118-04-02 11:54:00,2118-04-07 11:26:00,0,M,57,HISPANIC/LATINO - GUATEMALAN
2,10010231,23835132,2118-04-02 11:54:00,2118-04-07 11:26:00,0,M,57,HISPANIC/LATINO - GUATEMALAN
3,10010231,24995642,2118-02-21 13:30:00,2118-02-26 16:50:00,0,M,57,HISPANIC/LATINO - GUATEMALAN
4,10010231,24995642,2118-02-21 13:30:00,2118-02-26 16:50:00,0,M,57,HISPANIC/LATINO - GUATEMALAN

In [14]:
demog_df['gender'].unique()  # Check unique values in the

array(['M', 'F'], dtype=object)

In [5]:
demog_df['anchor_age'].max(), demog_df['anchor_age'].min()

(np.int64(91), np.int64(18))

In [6]:
from sklearn.preprocessing import LabelEncoder
def map_race(race):
    if pd.isna(race):
        return 'Unknown or Not Reported'
    
    race = race.upper()
    
    if 'HISPANIC' in race or 'LATINO' in race or 'SOUTH AMERICAN' in race:
        return 'Hispanic or Latino'
    elif 'WHITE' in race:
        return 'White'
    elif 'BLACK' in race or 'AFRICAN' in race:
        return 'Black or African American'
    elif 'ASIAN' in race:
        return 'Asian'
    elif 'PACIFIC ISLANDER' in race or 'NATIVE HAWAIIAN' in race:
        return 'Native Hawaiian or Other Pacific Islander'
    elif 'AMERICAN INDIAN' in race or 'ALASKA NATIVE' in race:
        return 'American Indian or Alaska Native'
    elif 'DECLINED' in race or 'UNABLE' in race or 'UNKNOWN' in race:
        return 'Unknown or Not Reported'
    else:
        return 'Other'

le = LabelEncoder()
demog_df['race_grouped'] = demog_df['race'].apply(map_race)  # apply your earlier grouping
demog_df['race_target'] = le.fit_transform(demog_df['race_grouped'])

In [6]:
# unique ages and races
print("Unique ages:", final_df['anchor_age'].unique())
print("Unique races:", final_df['race'].unique())

Unique ages: [57 58 60 72 59 73 75 74 41 61 65 45 71 78 24 50 77 63 69 91 44 42 76 84
 56 67 55 80 46 68 47 32 53 33 52 48 30 85 66 83 87 64 81 36 26 79 28 43
 70 27 62 25 49 54 89 21 20 82 34 51 40 29 31 86 38 23 88 39 35 22 37 18
 19]
Unique races: ['HISPANIC/LATINO - GUATEMALAN' 'WHITE' 'BLACK/AFRICAN AMERICAN' 'OTHER'
 'ASIAN - CHINESE' 'ASIAN - SOUTH EAST ASIAN' 'ASIAN' 'UNKNOWN'
 'WHITE - OTHER EUROPEAN' 'UNABLE TO OBTAIN' 'PATIENT DECLINED TO ANSWER'
 'WHITE - RUSSIAN' 'SOUTH AMERICAN' 'WHITE - BRAZILIAN'
 'HISPANIC/LATINO - DOMINICAN' 'BLACK/AFRICAN' 'PORTUGUESE'
 'HISPANIC/LATINO - PUERTO RICAN' 'BLACK/CAPE VERDEAN'
 'HISPANIC/LATINO - HONDURAN' 'HISPANIC/LATINO - CENTRAL AMERICAN'
 'BLACK/CARIBBEAN ISLAND' 'ASIAN - ASIAN INDIAN'
 'WHITE - EASTERN EUROPEAN' 'HISPANIC/LATINO - COLUMBIAN'
 'HISPANIC/LATINO - SALVADORAN' 'HISPANIC/LATINO - CUBAN'
 'NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER' 'ASIAN - KOREAN'
 'HISPANIC/LATINO - MEXICAN' 'AMERICAN INDIAN/ALASKA NATIVE']

##### Fetching labevents data prior `7` or `14` days

In [72]:
raw_parquet = pd.read_parquet("../dataset/raw/lab_events_7_days_prior.parquet")
raw_parquet.head(5)  # Display the first 5 rows of the raw Parquet file

,subject_id,hadm_id,itemid,charttime,valuenum,dischtime,target,gender,anchor_age,race
0,10010231,29368887,51233,2118-01-15 17:45:00,NaN,2118-01-20 14:00:00,1,M,57,HISPANIC/LATINO - GUATEMALAN
1,10010231,29368887,51233,2118-01-15 17:45:00,NaN,2118-01-20 14:00:00,1,M,57,HISPANIC/LATINO - GUATEMALAN
2,10010231,29368887,51233,2118-01-15 17:45:00,NaN,2118-01-20 14:00:00,1,M,57,HISPANIC/LATINO - GUATEMALAN
3,10010231,21586397,51678,2117-12-19 06:20:00,6.0,2117-12-23 16:51:00,1,M,57,HISPANIC/LATINO - GUATEMALAN
4,10010231,21586397,51678,2117-12-19 06:20:00,6.0,2117-12-23 16:51:00,1,M,57,HISPANIC/LATINO - GUATEMALAN

In [73]:
len(raw_parquet.drop_duplicates(subset=['hadm_id']))  # Display the number of rows in the raw Parquet file

4908

In [ ]:
# First get all unique patient IDs
patient_ids = pd.read_sql("SELECT DISTINCT subject_id FROM public.temp_cohort ORDER BY subject_id", engine)

lab_df = pd.DataFrame()

# Process in patient batches
batch_size = 100
for i in range(0, len(patient_ids), batch_size):
    batch = patient_ids.iloc[i:i+batch_size]
    batch_list = tuple(batch['subject_id'])
    
    query = f"""
        SELECT 
            le.subject_id, 
            le.hadm_id, 
            le.itemid, 
            le.charttime, 
            le.valuenum,
            tc.dischtime,
            tc.target
        FROM mimiciv_hosp.labevents le
        JOIN public.temp_cohort tc
          ON le.subject_id = tc.subject_id
         AND le.hadm_id = tc.hadm_id
        WHERE le.charttime BETWEEN (tc.dischtime - INTERVAL '7 days') AND tc.dischtime
        AND le.subject_id IN {batch_list}
    """
    
    chunk = pd.read_sql(query, engine)
    # Process your chunk
    lab_df = pd.concat([lab_df, chunk], ignore_index=True)
# Reset index after concat
lab_df.reset_index(drop=True, inplace=True)

# Pre-processing for tabular data

### Aggregating on an `hourly` basis

In [ ]:
import polars as pl 
import numpy as np
import pandas as pd
patient_data_df = pd.read_parquet("../dataset/raw/lab_events_7_days_prior.parquet")
sup_df = pd.read_csv("../assets/ts.csv")  
sup_extracted_df = pd.read_csv("../assets/extracted.csv")
cohort_df = pd.read_csv("../assets/cohort1_target.csv")
# len(patient_data_df)

In [40]:
# Read ts.csv (daily binned data per (admid, itemid))
ts_df = sup_df.copy()

# Set MultiIndex
ts_df.set_index(["admid", "itemid"], inplace=True)

# Unstack to reshape so each row = 1 admission
reshaped = ts_df.unstack(level=1)

# Flatten MultiIndex columns: (day, itemid) → itemid_day
reshaped.columns = [f"itemid_{item}_{day}d" for day, item in reshaped.columns]

# Reset index to make admid a column
reshaped = reshaped.reset_index()

# Impute missing values (example: fillna with 0 or use KNNImputer)
# Option 1: Fill NaNs with 0
imputed = reshaped.fillna(0)

# Option 2: KNN Imputer
# from sklearn.impute import KNNImputer
# imputer = KNNImputer(n_neighbors=5)
# imputed = pd.DataFrame(imputer.fit_transform(reshaped.iloc[:, 1:]), columns=reshaped.columns[1:])
# imputed.insert(0, 'admid', reshaped['admid'].values)

# imputed is now ready for model training

In [66]:
len(patient_data_df['hadm_id'].unique()) == len(cohort_df['hadm_id'].unique())  # Number of unique patients in the patient

False

In [68]:
cohort_df['hadm_id'].unique()

array([21586397, 29368887, 24995642, ..., 25127296, 23826564, 21364559],
      shape=(5308,))

In [64]:
# patient_data_df.drop_duplicates(subset=['hadm_id', 'subject_id', 'itemid'], inplace=True)
hadm_ids = set(patient_data_df['hadm_id'].unique())
admid_ids = set(cohort_df['hadm_id'].unique())

print("Only in patient_data_df:", hadm_ids - admid_ids)
print("Only in sup_df:", admid_ids - hadm_ids)

Only in patient_data_df: set()
Only in sup_df: {np.int64(28049409), np.int64(24512520), np.int64(29966344), np.int64(23732248), np.int64(26859546), np.int64(24348699), np.int64(25581599), np.int64(29601847), np.int64(23566395), np.int64(28069955), np.int64(24105031), np.int64(23582798), np.int64(23343183), np.int64(28848211), np.int64(27936855), np.int64(27109464), np.int64(21479513), np.int64(29130844), np.int64(24238176), np.int64(28002410), np.int64(29954155), np.int64(29978734), np.int64(21897330), np.int64(22063223), np.int64(27164792), np.int64(20949120), np.int64(27801728), np.int64(29429890), np.int64(26728577), np.int64(28745870), np.int64(27752592), np.int64(26646673), np.int64(27390097), np.int64(24320151), np.int64(21457047), np.int64(29808799), np.int64(29726889), np.int64(28928169), np.int64(21547199), np.int64(21080270), np.int64(28412117), np.int64(29712617), np.int64(29458668), np.int64(28150003), np.int64(21575924), np.int64(27189494), np.int64(29303040), np.int64(28754176), np.int64(28461313), np.int64(27646210), np.int64(25872649), np.int64(20220172), np.int64(24942865), np.int64(23851288), np.int64(20361497), np.int64(28563737), np.int64(28721439), np.int64(25407777), np.int64(28447011), np.int64(27779379), np.int64(28459319), np.int64(28680506), np.int64(28182845), np.int64(21877054), np.int64(27081024), np.int64(24762693), np.int64(27042123), np.int64(26005838), np.int64(21037399), np.int64(24605015), np.int64(20603231), np.int64(29843807), np.int64(25897317), np.int64(28864876), np.int64(25817452), np.int64(27400562), np.int64(23869822), np.int64(21053823), np.int64(28342657), np.int64(29778307), np.int64(26896778), np.int64(26141067), np.int64(29604237), np.int64(22083984), np.int64(20666774), np.int64(23454105), np.int64(23898523), np.int64(23325087), np.int64(20312490), np.int64(24222129), np.int64(29710770), np.int64(28424631), np.int64(27605433), np.int64(23159227), np.int64(22757822), np.int64(28668365), np.int64(27627983), np.int64(20808151), np.int64(26943963), np.int64(21338592), np.int64(21029345), np.int64(23960037), np.int64(25569770), np.int64(21031406), np.int64(21047792), np.int64(28674549), np.int64(24482294), np.int64(20167161), np.int64(25504258), np.int64(27630083), np.int64(23613954), np.int64(27503115), np.int64(26956301), np.int64(20425230), np.int64(24621582), np.int64(26661390), np.int64(21389849), np.int64(22614554), np.int64(24920609), np.int64(22872612), np.int64(26067495), np.int64(20269608), np.int64(28523054), np.int64(28258863), np.int64(24111664), np.int64(25209395), np.int64(23726646), np.int64(22383159), np.int64(22854199), np.int64(22600251), np.int64(27243073), np.int64(25997891), np.int64(23288387), np.int64(25334344), np.int64(20759114), np.int64(24676946), np.int64(20376148), np.int64(28942934), np.int64(23722583), np.int64(26946137), np.int64(25420378), np.int64(24562276), np.int64(24586857), np.int64(25573997), np.int64(21377647), np.int64(21928562), np.int64(22774391), np.int64(25172601), np.int64(23982719), np.int64(28506755), np.int64(25567876), np.int64(22151813), np.int64(28086921), np.int64(22084239), np.int64(21072538), np.int64(24246939), np.int64(29115036), np.int64(23554725), np.int64(26604202), np.int64(26522285), np.int64(27601583), np.int64(29311688), np.int64(20193995), np.int64(26655440), np.int64(20503254), np.int64(21514968), np.int64(26471128), np.int64(22766313), np.int64(22391538), np.int64(25649906), np.int64(27781912), np.int64(22330143), np.int64(21631780), np.int64(29279021), np.int64(24838960), np.int64(23421751), np.int64(24544065), np.int64(22676292), np.int64(27851589), np.int64(20882252), np.int64(25332558), np.int64(24394576), np.int64(23071569), np.int64(25150291), np.int64(23077718), np.int64(27589462), np.int64(28824409), np.int64(24146779), np.int64(28619629), np.int64(22711151), np.int64(20611963), np.int64(24773507), np.int64(22733701), np.int64(20808583), np.int64(21117842), np.int64(21726099), np.int64(29086624), np.int64(28933031), np.int64(23186344), np.int64(20466602), np.int64(26725296), np.int64(26254265), np.int64(20419517), np.int64(24660937), np.int64(27716559), np.int64(29209569), np.int64(28271589), np.int64(29223913), np.int64(23127032), np.int64(24081400), np.int64(27843582), np.int64(20028418), np.int64(23112723), np.int64(27532309), np.int64(26049564), np.int64(24615965), np.int64(25650205), np.int64(24087591), np.int64(29166656), np.int64(27202630), np.int64(27358280), np.int64(22377547), np.int64(24355924), np.int64(27870301), np.int64(25406564), np.int64(26057829), np.int64(26727534), np.int64(22709370), np.int64(26555536), np.int64(28914835), np.int64(24102036), np.int64(26633363), np.int64(27116694), np.int64(24290464), np.int64(20890789), np.int64(25339051), np.int64(21992620), np.int64(21812395), np.int64(25394352), np.int64(28126401), np.int64(26864837), np.int64(24741062), np.int64(21671112), np.int64(20419785), np.int64(20427978), np.int64(21054670), np.int64(25021651), np.int64(25330905), np.int64(28447961), np.int64(27698395), np.int64(20335833), np.int64(20565210), np.int64(28478686), np.int64(27161835), np.int64(27518190), np.int64(22734073), np.int64(22250749), np.int64(22611203), np.int64(26930440), np.int64(21359881), np.int64(27526412), np.int64(28574991), np.int64(25935128), np.int64(25474330), np.int64(25789726), np.int64(29766942), np.int64(25806110), np.int64(20737318), np.int64(26606899), np.int64(20550974), np.int64(23239998), np.int64(20358467), np.int64(29676873), np.int64(29613386), np.int64(24968523), np.int64(22396237), np.int64(24372557), np.int64(20358484), np.int64(28661085), np.int64(24913257), np.int64(28382570), np.int64(28562795), np.int64(22113641), np.int64(23117168), np.int64(28106102), np.int64(27334012), np.int64(24673662), np.int64(21034374), np.int64(26238351), np.int64(29631891), np.int64(24503706), np.int64(23483803), np.int64(27782557), np.int64(28560806), np.int64(27860391), np.int64(23596478), np.int64(21126616), np.int64(28335586), np.int64(22554088), np.int64(27915772), np.int64(26390021), np.int64(28014087), np.int64(29588999), np.int64(26359305), np.int64(22533650), np.int64(28153372), np.int64(28104221), np.int64(27192871), np.int64(23762472), np.int64(20102696), np.int64(21481002), np.int64(27700779), np.int64(23019051), np.int64(22472239), np.int64(22451763), np.int64(25892411), np.int64(25175613), np.int64(28843588), np.int64(21388885), np.int64(24600150), np.int64(27373146), np.int64(25136739), np.int64(29628009), np.int64(29378160), np.int64(24766068), np.int64(25929337), np.int64(24485498), np.int64(21282425), np.int64(26199673), np.int64(25646714), np.int64(28436101), np.int64(28630663), np.int64(24661657), np.int64(24219291), np.int64(25153183), np.int64(21489315), np.int64(23488168), np.int64(20954796), np.int64(22970043), np.int64(23762628), np.int64(22408902), np.int64(28935879), np.int64(24315600), np.int64(23971536), np.int64(23279314), np.int64(20293332), np.int64(29175522), np.int64(21763811), np.int64(24942308), np.int64(22206182), np.int64(23385835), np.int64(28782322), np.int64(20244210), np.int64(29275897), np.int64(24221435), np.int64(21470976), np.int64(22546178), np.int64(25554695), np.int64(21532427), np.int64(27330324), np.int64(28948249), np.int64(22269729), np.int64(25216834), np.int64(20000588), np.int64(21436241), np.int64(28684129), np.int64(24678247), np.int64(25784169), np.int64(28651373), np.int64(20361070), np.int64(28780399), np.int64(22310780), np.int64(22806397), np.int64(23095168), np.int64(23230337), np.int64(23490435), np.int64(29878152), np.int64(24289165), np.int64(25976717), np.int64(20133786), np.int64(23543711), np.int64(26556320), np.int64(26912673), np.int64(24557474), np.int64(21329836), np.int64(23257006), np.int64(28889010), np.int64(28387252), np.int64(24645569), np.int64(26716104), np.int64(25915339), np.int64(25536460), np.int64(24782805), np.int64(25204696), np.int64(20772837), np.int64(29482984), np.int64(21108715), np.int64(29323249), np.int64(24029172), np.int64(26859516)}

In [51]:
patient_data_df.head()

,subject_id,hadm_id,itemid,charttime,valuenum,dischtime,target,gender,anchor_age,race
0,10010231,29368887,51233,2118-01-15 17:45:00,NaN,2118-01-20 14:00:00,1,M,57,HISPANIC/LATINO - GUATEMALAN
1,10010231,29368887,51233,2118-01-15 17:45:00,NaN,2118-01-20 14:00:00,1,M,57,HISPANIC/LATINO - GUATEMALAN
2,10010231,29368887,51233,2118-01-15 17:45:00,NaN,2118-01-20 14:00:00,1,M,57,HISPANIC/LATINO - GUATEMALAN
3,10010231,21586397,51678,2117-12-19 06:20:00,6.0,2117-12-23 16:51:00,1,M,57,HISPANIC/LATINO - GUATEMALAN
4,10010231,21586397,51678,2117-12-19 06:20:00,6.0,2117-12-23 16:51:00,1,M,57,HISPANIC/LATINO - GUATEMALAN

In [35]:
from sklearn.impute import KNNImputer


# Create a copy and convert timestamps
new_df = patient_data_df.copy()
new_df["charttime"] = pd.to_datetime(new_df["charttime"])
new_df["dischtime"] = pd.to_datetime(new_df["dischtime"])

# Calculate hours before discharge
new_df["hours_before_discharge"] = (new_df["dischtime"] - new_df["charttime"]).dt.total_seconds() / 3600

# Filter to 12-hour window (0 to 12 hours inclusive)
new_df_filtered = new_df[
    (new_df["hours_before_discharge"] >= 0) & (new_df["hours_before_discharge"] <= 168)
].copy()    

print(f"Processing {len(new_df_filtered)} records within 12-hour window...")

# creating 7 day bins
new_df_filtered["hour_bin"] = (np.floor(new_df_filtered["hours_before_discharge"]/6) + 1).astype(int)
new_df_filtered["hour_bin"] = new_df_filtered["hour_bin"].clip(upper=27)  # Cap at 7

# Create feature_id with hour bin
new_df_filtered["feature_id"] = (
    "itemid_" + 
    new_df_filtered["itemid"].astype(str) + 
    "_last_" + 
    new_df_filtered["hour_bin"].astype(str) + 
    "h"
)

# Pivot numeric features (mean aggregation)
numeric_pivot = new_df_filtered.pivot_table(
    index="hadm_id",
    columns="feature_id",
    values="valuenum",
    aggfunc="mean",
    # fill_value=np.nan,
)
# Pivot binary features (existence indicator)
new_df_filtered["has_measurement"] = 1
binary_pivot = new_df_filtered.pivot_table(
    index="hadm_id",
    columns="feature_id",
    values="has_measurement",
    aggfunc="max",  # 1 if any measurement exists
    fill_value=0,
)
binary_pivot.columns = [col + "_measured" for col in binary_pivot.columns]

# Step 3: Impute missing values using KNN
imputer = KNNImputer(n_neighbors=5)
ts_user_imputed = pd.DataFrame(
    imputer.fit_transform(numeric_pivot),
    columns=numeric_pivot.columns,
    index=numeric_pivot.index
).reset_index()


# Get targets
targets = new_df_filtered[["hadm_id", "target"]].drop_duplicates().set_index("hadm_id")

# Combine features with targets (NO forward/backward fill)
numeric_features = numeric_pivot.join(targets).reset_index()
binary_features = binary_pivot.join(targets).reset_index()

print(f"Created numeric features: {numeric_features.shape}")
print(f"Created binary features: {binary_features.shape}")
print(f"Filtered down to {len(new_df_filtered)} rows from {len(new_df)}")
print(f"Number of unique hadm_ids: {new_df_filtered['hadm_id'].nunique()}")

Processing 10537677 records within 12-hour window...
Created numeric features: (4907, 5976)
Created binary features: (4908, 8370)
Filtered down to 10537677 rows from 10537677
Number of unique hadm_ids: 4908

In [36]:
numeric_features.head()

,hadm_id,itemid_50801_last_12h,itemid_50801_last_27h,itemid_50802_last_10h,itemid_50802_last_11h,itemid_50802_last_12h,itemid_50802_last_13h,itemid_50802_last_14h,itemid_50802_last_15h,itemid_50802_last_16h,...,itemid_53174_last_27h,itemid_53174_last_2h,itemid_53174_last_3h,itemid_53174_last_4h,itemid_53174_last_5h,itemid_53174_last_7h,itemid_53174_last_8h,itemid_53174_last_9h,itemid_53180_last_8h,target
0,20004072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,20004811,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,20006731,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,20008395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,20010041,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [47]:
28 // 2

14

In [18]:
print("Supervisor shape:", ts_supervisor_final.shape)
print("User shape:", binary_features.shape)

# Optional: inspect overlapping features
common_columns = set(ts_supervisor_final.columns) & set(binary_features.columns)
print("Common features:", len(common_columns))

# Check hadm_id consistency
print("Same hadm_ids:", set(ts_supervisor_final['admid']) == set(binary_features['hadm_id']))

Supervisor shape: (5280, 2990)
User shape: (3099, 2036)
Common features: 0
Same hadm_ids: False

# Preprocessing for Temporal Data

In [ ]:
import pandas as pd
patient_data_df = pd.read_parquet("../dataset/raw/lab_events_7_days_prior.parquet")
len(patient_data_df)

10537677

In [32]:
temp_df = patient_data_df.copy()

# Drop unnecessary columns ["race", "gender", "anchor_age", "target"]
temp_df = temp_df.drop(columns=["race", "gender", "anchor_age", "target"])

# Then drop duplicates based on ["subject_id", "hadm_id", "itemid", "charttime"]
temp_df = temp_df.drop_duplicates(subset=["subject_id", "hadm_id", "itemid", "charttime"])

temp_df.head(10)

,subject_id,hadm_id,itemid,charttime,valuenum,dischtime
0,10010231,29368887,51233,2118-01-15 17:45:00,NaN,2118-01-20 14:00:00
3,10010231,21586397,51678,2117-12-19 06:20:00,6.0,2117-12-23 16:51:00
6,10010231,21586397,50861,2117-12-18 10:12:00,22.0,2117-12-23 16:51:00
9,10010231,21586397,50862,2117-12-18 10:12:00,3.9,2117-12-23 16:51:00
12,10010231,21586397,50863,2117-12-18 10:12:00,68.0,2117-12-23 16:51:00
15,10010231,21586397,50868,2117-12-18 10:12:00,15.0,2117-12-23 16:51:00
18,10010231,21586397,50878,2117-12-18 10:12:00,18.0,2117-12-23 16:51:00
21,10010231,21586397,50882,2117-12-18 10:12:00,23.0,2117-12-23 16:51:00
24,10010231,21586397,50885,2117-12-18 10:12:00,0.2,2117-12-23 16:51:00
27,10010231,21586397,50893,2117-12-18 10:12:00,9.2,2117-12-23 16:51:00

In [36]:
temp_df.shape

(1167600, 6)

In [33]:
import numpy as np
def assign_time_bin(hours_before_discharge, window_hours=6):
    """Assign records to fixed time bins (e.g., 0-6h, 6-12h).
    Example: For a 6-hour window:
        0.5h → bin 0, 6.1h → bin 6, 23h → bin 18
    """
    return (np.floor(hours_before_discharge / window_hours) * window_hours)

In [ ]:
import numpy as np
df = temp_df.copy()
max_window_days = 7
time_bin_hours = 12

# Convert charttime and dischtime to datetime
unique_items = df["itemid"].unique()
# creating a dictionary to map itemid to index 
# because the itemid can be large and sparse
inputdict = {item: idx for idx, item in enumerate(unique_items)}
n_features = len(inputdict)

# calculating hours before discharge and filter window
df["hours_before_discharge"] = (df["dischtime"] - df["charttime"]).dt.total_seconds() / 3600
df = df[(df["hours_before_discharge"] >= 0) & 
        (df["hours_before_discharge"] <= max_window_days * 24)]

# 3. Assign time bins (aligned to discharge)
df['time_bin'] = (np.floor(df['hours_before_discharge'] / time_bin_hours) 
                    * time_bin_hours)

# Grouping by patient and time bin
grouped = df.sort_values(["subject_id", "hadm_id", "time_bin"])\
            .groupby(["subject_id", "hadm_id", "time_bin"])

# Initializing arrays to hold features, masking, timestamps, and patient IDs
n_timesteps = len(grouped)
x = np.zeros((n_features, n_timesteps))
masking = np.zeros_like(x)
timestamps = np.zeros(n_timesteps)
patient_ids = []

# Populating arrays to  hold features, masking, timestamps, and patient IDs
for i, ((subj_id, adm_id, time_bin), group) in enumerate(grouped):
    # get the time bin as a timestamp
    timestamps[i] = time_bin
    patient_ids.append(f"{subj_id}_{adm_id}")
    
    for _, row in group.iterrows():
        # get the feature index from the inputdict
        feat_idx = inputdict[row["itemid"]]
        # Fill the feature value and masking
        x[feat_idx, i] = row["valuenum"]
        # Set masking to 1 if the feature is present
        masking[feat_idx, i] = 1

# Calculating delta (time since last observation)
delta = np.zeros_like(x)
for i in range(1, n_timesteps):
    # calculate the time gap between the current and previous time bin
    time_gap = timestamps[i-1] - timestamps[i]  # Note: reversed for "before discharge"
    # if the previous time bin was missing, accumulate the time gap
    # else use the actual time gap
    delta[:, i] = np.where(
        masking[:, i-1] == 0,
        time_gap + delta[:, i-1],  # Accumulate if missing
        time_gap                   # Else use actual gap
    )

ValueError: not enough values to unpack (expected 3, got 1)

In [ ]:
df.head(15)

,subject_id,hadm_id,itemid,charttime,valuenum,dischtime,hours_before_discharge,time_bin
0,10010231,29368887,51233,2118-01-15 17:45:00,NaN,2118-01-20 14:00:00,116.250000,108.0
3,10010231,21586397,51678,2117-12-19 06:20:00,6.0,2117-12-23 16:51:00,106.516667,96.0
6,10010231,21586397,50861,2117-12-18 10:12:00,22.0,2117-12-23 16:51:00,126.650000,120.0
9,10010231,21586397,50862,2117-12-18 10:12:00,3.9,2117-12-23 16:51:00,126.650000,120.0
12,10010231,21586397,50863,2117-12-18 10:12:00,68.0,2117-12-23 16:51:00,126.650000,120.0
15,10010231,21586397,50868,2117-12-18 10:12:00,15.0,2117-12-23 16:51:00,126.650000,120.0
18,10010231,21586397,50878,2117-12-18 10:12:00,18.0,2117-12-23 16:51:00,126.650000,120.0
21,10010231,21586397,50882,2117-12-18 10:12:00,23.0,2117-12-23 16:51:00,126.650000,120.0
24,10010231,21586397,50885,2117-12-18 10:12:00,0.2,2117-12-23 16:51:00,126.650000,120.0
27,10010231,21586397,50893,2117-12-18 10:12:00,9.2,2117-12-23 16:51:00,126.650000,120.0
30,10010231,21586397,50902,2117-12-18 10:12:00,104.0,2117-12-23 16:51:00,126.650000,120.0
33,10010231,21586397,50912,2117-12-18 10:12:00,0.7,2117-12-23 16:51:00,126.650000,120.0
36,10010231,21586397,50931,2117-12-18 10:12:00,107.0,2117-12-23 16:51:00,126.650000,120.0
39,10010231,21586397,50934,2117-12-18 10:12:00,7.0,2117-12-23 16:51:00,126.650000,120.0
42,10010231,21586397,50947,2117-12-18 10:12:00,0.0,2117-12-23 16:51:00,126.650000,120.0

In [ ]:
delta[0, 0:10]

array([   0.,  -24.,  -48.,  -72.,  -84., -108.,  120.,   96.,   72.,
         48.])

In [ ]:
masking[0, 0:10]

array([0., 0., 0., 0., 0., 1., 0., 0., 0., 0.])

In [ ]:
x[3, 0:30]

array([3.9, 3.5, 3.7, 3.5, 3.6, 3.9, 4.3, 4.1, 4.1, 4. , 4.5, 4. , 3.7,
       4. , 3.7, 4.2, 0. , 0. , 0. , 0. , 0. , 3.5, 3.9, 3.6, 3.5, 3.3,
       3.2, 3.3, 0. , 0. ])

In [ ]:
x.shape, masking.shape, delta.shape, timestamps.shape

((583, 31533), (583, 31533), (583, 31533), (31533,))

In [ ]:
np.unique(x)

In [4]:
import numpy as np
import pandas as pd

def df_to_x_m_d(df, max_window_days=7):
    """
    Convert DataFrame to GRU-D inputs (x, masking, delta), using raw `itemid` as indices.
    
    Args:
        df: DataFrame with columns ['subject_id', 'hadm_id', 'itemid', 'charttime', 'valuenum', 'dischtime'].
        max_window_days: Maximum days before discharge to include.
    
    Returns:
        x: Feature matrix of shape (n_features, n_timesteps).
        masking: Binary mask of observed values (same shape as x).
        delta: Time gaps since last observation (same shape as x).
        timestamps: Hours since discharge for each timestep.
        ids: DataFrame with ['subject_id', 'hadm_id'] for each timestep.
    """

    # --- 1. Preprocess Timestamps ---
    df["hours_since_discharge"] = (df["dischtime"] - df["charttime"]).dt.total_seconds() / 3600

    # Filter to keep only within the max window
    df = df[(df["hours_since_discharge"] >= 0) & (df["hours_since_discharge"] <= max_window_days * 24)].copy()

    # --- 2. Group by Patient and Time ---
    # Sort dataframe
    df = df.sort_values(by=["subject_id", "hadm_id", "charttime"])

    # Group by 'subject_id', 'hadm_id', 'charttime'
    grouped = df.groupby(["subject_id", "hadm_id", "charttime"])

    n_timesteps = len(grouped)

    # --- 3. Initialize Arrays ---
    n_features = df["itemid"].max() + 1  # Assumes itemids start at 0
    x = np.zeros((n_features, n_timesteps))
    masking = np.zeros_like(x)
    timestamps = np.zeros(n_timesteps)
    ids = []

    # --- 4. Populate x, masking, and timestamps ---
    for i, ((subj_id, adm_id, time), group) in enumerate(grouped):
        timestamps[i] = (time - group["dischtime"].iloc[0]).total_seconds() / 3600
        ids.append({"subject_id": subj_id, "hadm_id": adm_id})
        for _, row in group.iterrows():
            x[int(row["itemid"]), i] = row["valuenum"]
            masking[int(row["itemid"]), i] = 1

    # --- 5. Calculate delta ---
    delta = np.zeros_like(x)
    for i in range(1, n_timesteps):
        time_gap = timestamps[i] - timestamps[i-1]
        delta[:, i] = np.where(
            masking[:, i-1] == 0,
            time_gap + delta[:, i-1],  # Accumulate if previous value was missing
            time_gap                   # Else use actual time gap
        )

    return x, masking, delta, timestamps, pd.DataFrame(ids)

In [5]:
x, masking, delta, timestamps, ids = df_to_x_m_d(temp_df, max_window_days=7)

print("x shape:", x.shape)          # (max_itemid + 1, n_timesteps)
print("masking shape:", masking.shape)  # Same as x
print("delta shape:", delta.shape)    # Same as x
print("Timestamps (hours before discharge):", timestamps)
# print("Patient IDs:", ids)

x shape: (53174, 860)
masking shape: (53174, 860)
delta shape: (53174, 860)
Timestamps (hours before discharge): [-106.76666667 -116.25        -59.41666667 -165.91666667  -80.68333333
  -89.25        -33.06666667  -14.         -154.31666667  -16.01666667
 -113.          -83.86666667 -129.91666667 -153.93333333 -155.48333333
 -107.88333333 -120.36666667 -157.71666667 -160.26666667  -39.65
 -146.83333333 -148.83333333  -83.         -155.95       -153.01666667
  -99.76666667  -85.53333333 -136.06666667 -156.5        -167.16666667
 -106.25         -6.9        -154.75        -21.28333333 -108.5
  -82.93333333  -21.28333333   -7.48333333 -134.76666667 -155.5
 -152.66666667 -155.96666667  -88.51666667 -105.41666667  -58.06666667
 -165.38333333  -39.5        -167.83333333  -88.51666667  -47.38333333
 -161.93333333  -50.43333333 -164.21666667 -154.33333333  -12.25
 -155.53333333 -156.4        -127.26666667  -81.08333333   -5.88333333
  -40.4        -159.28333333  -66.26666667  -57.68333333  -10.45
 -118.66666667 -107.71666667  -94.06666667 -157.86666667  -34.73333333
 -155.61666667  -12.63333333 -152.95        -68.25        -59.
 -137.1        -120.88333333  -53.56666667 -154.75         -6.
 -129.65        -76.11666667 -116.5         -41.23333333 -167.91666667
 -130.16666667 -160.65       -153.5        -113.25       -103.61666667
 -126.41666667  -70.48333333  -15.21666667  -15.25        -59.5
  -45.36666667 -166.86666667   -7.41666667  -90.01666667  -10.91666667
 -142.01666667  -60.16666667 -125.83333333 -153.65       -167.25
   -9.96666667   -9.71666667  -91.5        -108.31666667 -111.08333333
  -71.48333333 -158.66666667  -59.88333333   -9.93333333 -166.
  -25.7        -165.66666667 -164.13333333  -27.58333333 -124.98333333
  -57.11666667  -80.08333333  -14.05        -11.78333333   -9.41666667
 -153.          -62.83333333  -41.55       -156.65        -96.41666667
  -86.         -115.91666667  -95.26666667  -84.31666667 -159.
  -96.03333333  -22.          -50.75        -13.75        -26.2
   -6.41666667  -84.         -162.91666667  -59.11666667 -133.33333333
   -7.98333333 -159.6        -143.76666667  -39.5        -136.56666667
 -161.86666667 -165.4        -155.83333333 -152.93333333 -146.35
 -152.75       -155.05       -104.          -22.75       -120.41666667
  -70.7        -104.75        -86.76666667  -37.95        -54.83333333
 -152.18333333   -5.33333333 -103.78333333  -34.41666667 -157.81666667
  -96.83333333 -155.13333333 -154.56666667 -162.01666667   -8.55
 -131.05       -154.53333333 -163.73333333  -11.15       -107.81666667
  -91.          -65.45        -99.5        -155.33333333  -45.21666667
  -11.45       -160.65       -163.63333333 -155.41666667 -120.8
 -161.4        -162.95       -104.98333333 -108.75       -157.7
  -83.16666667  -10.08333333   -7.68333333 -164.9        -129.98333333
  -32.08333333 -154.36666667 -102.75       -124.5        -128.95
 -124.75       -105.16666667 -150.28333333 -120.01666667 -165.
 -132.8        -106.46666667 -118.7        -152.81666667  -23.4
 -153.68333333 -153.18333333 -165.88333333 -159.           -8.25
  -82.75        -11.16666667 -155.41666667  -11.01666667  -13.33333333
 -162.76666667 -153.41666667  -90.83333333 -154.76666667 -154.28333333
 -161.78333333  -59.43333333   -6.96666667 -127.          -96.1
 -111.75        -81.08333333 -146.96666667  -17.31666667  -62.5
  -81.16666667 -163.56666667 -154.41666667 -153.61666667 -132.66666667
 -165.63333333 -152.5         -19.5         -36.65        -36.16666667
   -4.4        -139.08333333  -83.76666667 -137.66666667  -62.81666667
 -162.56666667 -123.66666667 -146.7         -35.75       -154.31666667
 -161.03333333  -87.36666667 -162.         -118.         -157.75
 -157.46666667  -39.11666667 -156.66666667 -161.36666667   -5.8
  -98.36666667 -160.13333333 -119.66666667 -125.16666667 -164.21666667
 -130.58333333 -164.91666667 -156.76666667   -2.91666667 -160.66666667
 -119.5        -111.75       -165.26666667 -105.16666667 -112.95
 -152.36666667  -92.25       -115.91666667 -156.81666667 -152.38333333
  -81.56666667 -160.53333333  -13.         -105.83333333  -41.58333333
 -110.5        -158.5         -89.06666667 -151.03333333 -102.28333333
 -155.05        -89.75       -128.26666667 -160.15        -43.
  -22.5         -87.46666667  -95.25        -10.86666667 -128.01666667
  -31.28333333  -10.66666667  -65.91666667  -57.16666667 -153.1
 -166.66666667 -159.66666667 -155.03333333 -137.76666667  -94.68333333
  -86.75        -94.66666667 -159.06666667  -78.06666667 -161.6
 -158.6         -39.48333333 -133.95       -153.78333333   -9.41666667
  -79.26666667 -103.75       -115.33333333  -91.46666667  -39.
   -7.5         -90.7        -155.1         -67.73333333 -132.98333333
 -105.45        -15.31666667 -159.65       -152.83333333 -119.23333333
 -111.16666667 -160.93333333  -51.         -158.48333333  -29.75
 -115.58333333  -45.16666667  -90.03333333  -32.16666667 -143.08333333
 -156.25       -107.25       -167.63333333  -70.75       -140.23333333
   -7.96666667   -8.31666667   -8.5         -85.75        -81.75
 -161.06666667 -160.68333333 -142.16666667 -151.4        -156.16666667
 -120.          -84.95        -31.93333333 -116.3        -154.58333333
 -155.16666667  -14.4        -112.06666667 -161.33333333   -7.53333333
  -90.66666667 -161.8        -157.93333333 -161.03333333  -91.95
 -153.76666667 -163.83333333   -7.08333333  -64.75       -159.21666667
   -7.91666667  -10.13333333  -60.31666667 -156.46666667  -26.75
  -82.23333333   -5.91666667 -108.56666667 -131.18333333  -58.68333333
 -126.5         -74.91666667  -68.91666667   -9.63333333 -163.58333333
  -11.73333333 -125.1        -152.7        -152.25        -25.11666667
  -86.8        -148.36666667 -104.98333333 -111.5        -129.95
 -158.83333333  -11.93333333 -157.85        -64.25        -11.51666667
  -35.5        -153.5        -158.33333333  -10.03333333  -11.11666667
 -131.85        -27.65       -155.11666667 -110.16666667  -78.91666667
 -151.78333333 -105.          -10.58333333 -115.93333333  -53.41666667
  -89.95       -155.33333333 -163.76666667  -79.73333333 -162.23333333
 -114.78333333 -160.85       -163.2        -164.38333333 -154.41666667
  -33.9        -107.48333333 -109.75        -89.83333333 -155.13333333
 -100.25        -94.51666667  -40.96666667 -133.15        -37.23333333
  -73.08333333 -131.91666667   -9.45       -155.1        -151.33333333
  -66.41666667  -76.38333333 -166.88333333 -104.08333333  -38.51666667
 -114.75        -87.71666667 -120.76666667 -162.6         -17.51666667
 -120.05        -91.11666667  -67.93333333  -11.38333333  -72.88333333
 -101.16666667  -68.21666667 -106.5         -31.58333333 -106.31666667
 -146.73333333 -155.75       -105.26666667  -98.          -44.31666667
 -153.43333333 -120.5        -150.25       -166.46666667 -149.43333333
 -166.5        -167.75        -37.7        -109.83333333  -83.86666667
 -151.66666667 -154.21666667  -53.88333333 -153.          -10.2
 -152.41666667 -155.18333333  -54.33333333 -156.06666667   -2.23333333
  -83.01666667 -119.5        -166.2        -152.4         -43.
 -113.33333333  -11.21666667 -107.         -153.76666667 -142.58333333
 -162.5        -165.6        -157.35       -108.41666667 -119.73333333
 -139.48333333 -103.25       -109.78333333 -164.78333333  -54.93333333
 -143.76666667 -105.46666667  -97.51666667  -50.55       -160.08333333
   -6.38333333 -153.33333333 -152.33333333  -18.8        -124.51666667
  -69.11666667  -53.58333333 -154.93333333  -14.46666667 -140.15
  -11.53333333  -41.5        -157.13333333  -11.81666667 -155.93333333
  -36.         -154.41666667   -7.53333333 -107.7         -79.88333333
  -37.91666667 -117.25       -139.26666667 -152.16666667 -158.36666667
  -30.31666667  -76.38333333  -62.56666667  -48.66666667  -48.65
 -132.16666667 -106.08333333 -100.          -57.93333333 -158.75
  -17.41666667 -157.31666667  -61.33333333 -161.06666667 -152.28333333
 -163.          -40.25        -30.03333333  -18.61666667  -61.93333333
 -111.21666667 -154.15       -157.16666667  -86.15       -107.26666667
  -94.88333333 -162.26666667  -59.25        -46.13333333 -160.35
 -122.06666667  -94.86666667 -162.03333333 -158.31666667 -160.55
  -83.76666667 -107.          -53.23333333 -123.31666667 -156.85
 -128.56666667 -152.33333333  -86.38333333 -152.83333333 -153.93333333
  -10.7         -75.75         -5.81666667  -49.23333333 -157.93333333
  -15.48333333 -165.05       -157.86666667  -60.16666667  -89.36666667
  -58.16666667 -112.65        -71.86666667 -101.75        -81.41666667
 -130.5         -15.05       -167.76666667  -81.         -117.58333333
 -109.56666667  -77.71666667 -162.          -30.86666667   -5.73333333
  -90.38333333   -9.06666667  -93.91666667 -154.7        -163.26666667
 -103.08333333 -107.93333333 -156.6        -157.88333333  -40.
  -59.81666667  -85.25        -12.55       -160.38333333 -155.96666667
 -162.41666667  -36.91666667  -10.53333333  -38.58333333 -157.61666667
 -167.4        -154.61666667  -72.75       -130.25       -164.66666667
  -57.83333333 -151.86666667  -22.85        -69.98333333 -130.68333333
 -164.98333333 -106.86666667 -151.16666667  -56.5        -157.11666667
   -7.66666667 -162.66666667 -158.31666667  -54.66666667 -167.41666667
 -123.25       -167.2        -159.21666667 -167.03333333 -150.41666667
  -39.33333333 -167.01666667  -12.35       -150.83333333  -12.81666667
 -113.38333333 -158.88333333  -67.7        -157.03333333 -165.03333333
  -10.83333333  -89.28333333  -69.83333333 -116.01666667 -139.71666667
  -71.75        -79.16666667  -87.         -152.43333333  -74.98333333
  -56.33333333  -29.71666667 -160.1        -103.91666667  -39.83333333
 -140.5        -161.46666667 -157.16666667 -101.01666667  -64.43333333
 -157.76666667 -106.36666667  -64.13333333  -35.66666667  -41.15
 -156.38333333 -115.86666667 -139.78333333  -91.          -36.1
 -162.55        -10.16666667  -25.48333333 -155.28333333 -164.86666667
  -69.15        -61.28333333 -155.43333333 -155.55       -106.16666667
 -153.51666667 -154.31666667 -162.1         -13.41666667 -137.
  -13.35       -158.5         -35.          -75.86666667 -112.58333333
 -145.25        -46.83333333 -101.91666667 -160.11666667 -152.81666667
 -163.13333333  -10.45       -162.33333333 -105.28333333 -158.83333333
  -75.51666667 -105.83333333 -154.7          -9.26666667 -160.
 -120.66666667  -20.55       -154.31666667 -103.58333333 -152.25
 -146.33333333 -156.81666667  -86.61666667 -154.21666667 -150.68333333
 -127.25       -110.95       -106.5         -16.          -80.51666667
 -155.91666667  -81.65         -3.85       -120.5        -157.45
  -89.85        -58.48333333  -32.91666667   -8.75        -75.58333333
   -9.         -157.65       -109.5        -151.25        -56.63333333
  -64.28333333 -112.06666667 -108.63333333 -130.28333333   -9.75
  -39.58333333 -105.56666667  -11.91666667  -62.88333333 -105.88333333
 -101.91666667  -93.4        -156.03333333 -123.63333333 -163.66666667
 -146.66666667 -159.4         -91.26666667  -14.4        -117.65
  -65.5        -159.41666667 -166.5         -57.08333333 -127.3
  -63.75       -158.5         -57.96666667  -68.66666667  -36.58333333
  -92.56666667 -160.5         -86.6         -27.05        -65.5
  -42.25       -161.21666667  -27.35        -58.06666667 -157.01666667
 -166.46666667  -82.83333333 -121.78333333  -63.5         -18.41666667
 -159.33333333 -160.3         -20.75       -154.71666667  -34.68333333
 -107.93333333 -112.38333333  -89.41666667   -8.          -99.61666667
  -84.21666667  -94.01666667 -118.85       -166.88333333 -161.86666667
 -155.63333333  -56.5         -10.06666667 -161.5        -161.85
  -34.5         -48.98333333  -37.41666667 -153.58333333  -63.1
  -30.16666667 -152.05       -156.76666667   -7.86666667 -130.13333333
 -158.75        -34.63333333 -101.13333333 -150.06666667  -23.23333333
 -104.6        -129.6         -12.2         -41.78333333 -154.76666667]

In [12]:
ids.head()

   subject_id   hadm_id
0    10010231  24995642
1    10010231  29368887
2    10012768  27462906
3    10014354  26486158
4    10022373  27450651

In [10]:
timestamps # Display first 5 timestamps

array([-106.76666667, -116.25      ,  -59.41666667, -165.91666667,
        -80.68333333,  -89.25      ,  -33.06666667,  -14.        ,
       -154.31666667,  -16.01666667, -113.        ,  -83.86666667,
       -129.91666667, -153.93333333, -155.48333333, -107.88333333,
       -120.36666667, -157.71666667, -160.26666667,  -39.65      ,
       -146.83333333, -148.83333333,  -83.        , -155.95      ,
       -153.01666667,  -99.76666667,  -85.53333333, -136.06666667,
       -156.5       , -167.16666667, -106.25      ,   -6.9       ,
       -154.75      ,  -21.28333333, -108.5       ,  -82.93333333,
        -21.28333333,   -7.48333333, -134.76666667, -155.5       ,
       -152.66666667, -155.96666667,  -88.51666667, -105.41666667,
        -58.06666667, -165.38333333,  -39.5       , -167.83333333,
        -88.51666667,  -47.38333333, -161.93333333,  -50.43333333,
       -164.21666667, -154.33333333,  -12.25      , -155.53333333,
       -156.4       , -127.26666667,  -81.08333333,   -5.88333333,
        -40.4       , -159.28333333,  -66.26666667,  -57.68333333,
        -10.45      , -118.66666667, -107.71666667,  -94.06666667,
       -157.86666667,  -34.73333333, -155.61666667,  -12.63333333,
       -152.95      ,  -68.25      ,  -59.        , -137.1       ,
       -120.88333333,  -53.56666667, -154.75      ,   -6.        ,
       -129.65      ,  -76.11666667, -116.5       ,  -41.23333333,
       -167.91666667, -130.16666667, -160.65      , -153.5       ,
       -113.25      , -103.61666667, -126.41666667,  -70.48333333,
        -15.21666667,  -15.25      ,  -59.5       ,  -45.36666667,
       -166.86666667,   -7.41666667,  -90.01666667,  -10.91666667,
       -142.01666667,  -60.16666667, -125.83333333, -153.65      ,
       -167.25      ,   -9.96666667,   -9.71666667,  -91.5       ,
       -108.31666667, -111.08333333,  -71.48333333, -158.66666667,
        -59.88333333,   -9.93333333, -166.        ,  -25.7       ,
       -165.66666667, -164.13333333,  -27.58333333, -124.98333333,
        -57.11666667,  -80.08333333,  -14.05      ,  -11.78333333,
         -9.41666667, -153.        ,  -62.83333333,  -41.55      ,
       -156.65      ,  -96.41666667,  -86.        , -115.91666667,
        -95.26666667,  -84.31666667, -159.        ,  -96.03333333,
        -22.        ,  -50.75      ,  -13.75      ,  -26.2       ,
         -6.41666667,  -84.        , -162.91666667,  -59.11666667,
       -133.33333333,   -7.98333333, -159.6       , -143.76666667,
        -39.5       , -136.56666667, -161.86666667, -165.4       ,
       -155.83333333, -152.93333333, -146.35      , -152.75      ,
       -155.05      , -104.        ,  -22.75      , -120.41666667,
        -70.7       , -104.75      ,  -86.76666667,  -37.95      ,
        -54.83333333, -152.18333333,   -5.33333333, -103.78333333,
        -34.41666667, -157.81666667,  -96.83333333, -155.13333333,
       -154.56666667, -162.01666667,   -8.55      , -131.05      ,
       -154.53333333, -163.73333333,  -11.15      , -107.81666667,
        -91.        ,  -65.45      ,  -99.5       , -155.33333333,
        -45.21666667,  -11.45      , -160.65      , -163.63333333,
       -155.41666667, -120.8       , -161.4       , -162.95      ,
       -104.98333333, -108.75      , -157.7       ,  -83.16666667,
        -10.08333333,   -7.68333333, -164.9       , -129.98333333,
        -32.08333333, -154.36666667, -102.75      , -124.5       ,
       -128.95      , -124.75      , -105.16666667, -150.28333333,
       -120.01666667, -165.        , -132.8       , -106.46666667,
       -118.7       , -152.81666667,  -23.4       , -153.68333333,
       -153.18333333, -165.88333333, -159.        ,   -8.25      ,
        -82.75      ,  -11.16666667, -155.41666667,  -11.01666667,
        -13.33333333, -162.76666667, -153.41666667,  -90.83333333,
       -154.76666667, -154.28333333, -161.78333333,  -59.43333333,
         -6.96666667, -127.        ,  -96.1       , -111.75      ,
        -81.08333333, -146.96666667,  -17.31666667,  -62.5       ,
        -81.16666667, -163.56666667, -154.41666667, -153.61666667,
       -132.66666667, -165.63333333, -152.5       ,  -19.5       ,
        -36.65      ,  -36.16666667,   -4.4       , -139.08333333,
        -83.76666667, -137.66666667,  -62.81666667, -162.56666667,
       -123.66666667, -146.7       ,  -35.75      , -154.31666667,
       -161.03333333,  -87.36666667, -162.        , -118.        ,
       -157.75      , -157.46666667,  -39.11666667, -156.66666667,
       -161.36666667,   -5.8       ,  -98.36666667, -160.13333333,
       -119.66666667, -125.16666667, -164.21666667, -130.58333333,
       -164.91666667, -156.76666667,   -2.91666667, -160.66666667,
       -119.5       , -111.75      , -165.26666667, -105.16666667,
       -112.95      , -152.36666667,  -92.25      , -115.91666667,
       -156.81666667, -152.38333333,  -81.56666667, -160.53333333,
        -13.        , -105.83333333,  -41.58333333, -110.5       ,
       -158.5       ,  -89.06666667, -151.03333333, -102.28333333,
       -155.05      ,  -89.75      , -128.26666667, -160.15      ,
        -43.        ,  -22.5       ,  -87.46666667,  -95.25      ,
        -10.86666667, -128.01666667,  -31.28333333,  -10.66666667,
        -65.91666667,  -57.16666667, -153.1       , -166.66666667,
       -159.66666667, -155.03333333, -137.76666667,  -94.68333333,
        -86.75      ,  -94.66666667, -159.06666667,  -78.06666667,
       -161.6       , -158.6       ,  -39.48333333, -133.95      ,
       -153.78333333,   -9.41666667,  -79.26666667, -103.75      ,
       -115.33333333,  -91.46666667,  -39.        ,   -7.5       ,
        -90.7       , -155.1       ,  -67.73333333, -132.98333333,
       -105.45      ,  -15.31666667, -159.65      , -152.83333333,
       -119.23333333, -111.16666667, -160.93333333,  -51.        ,
       -158.48333333,  -29.75      , -115.58333333,  -45.16666667,
        -90.03333333,  -32.16666667, -143.08333333, -156.25      ,
       -107.25      , -167.63333333,  -70.75      , -140.23333333,
         -7.96666667,   -8.31666667,   -8.5       ,  -85.75      ,
        -81.75      , -161.06666667, -160.68333333, -142.16666667,
       -151.4       , -156.16666667, -120.        ,  -84.95      ,
        -31.93333333, -116.3       , -154.58333333, -155.16666667,
        -14.4       , -112.06666667, -161.33333333,   -7.53333333,
        -90.66666667, -161.8       , -157.93333333, -161.03333333,
        -91.95      , -153.76666667, -163.83333333,   -7.08333333,
        -64.75      , -159.21666667,   -7.91666667,  -10.13333333,
        -60.31666667, -156.46666667,  -26.75      ,  -82.23333333,
         -5.91666667, -108.56666667, -131.18333333,  -58.68333333,
       -126.5       ,  -74.91666667,  -68.91666667,   -9.63333333,
       -163.58333333,  -11.73333333, -125.1       , -152.7       ,
       -152.25      ,  -25.11666667,  -86.8       , -148.36666667,
       -104.98333333, -111.5       , -129.95      , -158.83333333,
        -11.93333333, -157.85      ,  -64.25      ,  -11.51666667,
        -35.5       , -153.5       , -158.33333333,  -10.03333333,
        -11.11666667, -131.85      ,  -27.65      , -155.11666667,
       -110.16666667,  -78.91666667, -151.78333333, -105.        ,
        -10.58333333, -115.93333333,  -53.41666667,  -89.95      ,
       -155.33333333, -163.76666667,  -79.73333333, -162.23333333,
       -114.78333333, -160.85      , -163.2       , -164.38333333,
       -154.41666667,  -33.9       , -107.48333333, -109.75      ,
        -89.83333333, -155.13333333, -100.25      ,  -94.51666667,
        -40.96666667, -133.15      ,  -37.23333333,  -73.08333333,
       -131.91666667,   -9.45      , -155.1       , -151.33333333,
        -66.41666667,  -76.38333333, -166.88333333, -104.08333333,
        -38.51666667, -114.75      ,  -87.71666667, -120.76666667,
       -162.6       ,  -17.51666667, -120.05      ,  -91.11666667,
        -67.93333333,  -11.38333333,  -72.88333333, -101.16666667,
        -68.21666667, -106.5       ,  -31.58333333, -106.31666667,
       -146.73333333, -155.75      , -105.26666667,  -98.        ,
        -44.31666667, -153.43333333, -120.5       , -150.25      ,
       -166.46666667, -149.43333333, -166.5       , -167.75      ,
        -37.7       , -109.83333333,  -83.86666667, -151.66666667,
       -154.21666667,  -53.88333333, -153.        ,  -10.2       ,
       -152.41666667, -155.18333333,  -54.33333333, -156.06666667,
         -2.23333333,  -83.01666667, -119.5       , -166.2       ,
       -152.4       ,  -43.        , -113.33333333,  -11.21666667,
       -107.        , -153.76666667, -142.58333333, -162.5       ,
       -165.6       , -157.35      , -108.41666667, -119.73333333,
       -139.48333333, -103.25      , -109.78333333, -164.78333333,
        -54.93333333, -143.76666667, -105.46666667,  -97.51666667,
        -50.55      , -160.08333333,   -6.38333333, -153.33333333,
       -152.33333333,  -18.8       , -124.51666667,  -69.11666667,
        -53.58333333, -154.93333333,  -14.46666667, -140.15      ,
        -11.53333333,  -41.5       , -157.13333333,  -11.81666667,
       -155.93333333,  -36.        , -154.41666667,   -7.53333333,
       -107.7       ,  -79.88333333,  -37.91666667, -117.25      ,
       -139.26666667, -152.16666667, -158.36666667,  -30.31666667,
        -76.38333333,  -62.56666667,  -48.66666667,  -48.65      ,
       -132.16666667, -106.08333333, -100.        ,  -57.93333333,
       -158.75      ,  -17.41666667, -157.31666667,  -61.33333333,
       -161.06666667, -152.28333333, -163.        ,  -40.25      ,
        -30.03333333,  -18.61666667,  -61.93333333, -111.21666667,
       -154.15      , -157.16666667,  -86.15      , -107.26666667,
        -94.88333333, -162.26666667,  -59.25      ,  -46.13333333,
       -160.35      , -122.06666667,  -94.86666667, -162.03333333,
       -158.31666667, -160.55      ,  -83.76666667, -107.        ,
        -53.23333333, -123.31666667, -156.85      , -128.56666667,
       -152.33333333,  -86.38333333, -152.83333333, -153.93333333,
        -10.7       ,  -75.75      ,   -5.81666667,  -49.23333333,
       -157.93333333,  -15.48333333, -165.05      , -157.86666667,
        -60.16666667,  -89.36666667,  -58.16666667, -112.65      ,
        -71.86666667, -101.75      ,  -81.41666667, -130.5       ,
        -15.05      , -167.76666667,  -81.        , -117.58333333,
       -109.56666667,  -77.71666667, -162.        ,  -30.86666667,
         -5.73333333,  -90.38333333,   -9.06666667,  -93.91666667,
       -154.7       , -163.26666667, -103.08333333, -107.93333333,
       -156.6       , -157.88333333,  -40.        ,  -59.81666667,
        -85.25      ,  -12.55      , -160.38333333, -155.96666667,
       -162.41666667,  -36.91666667,  -10.53333333,  -38.58333333,
       -157.61666667, -167.4       , -154.61666667,  -72.75      ,
       -130.25      , -164.66666667,  -57.83333333, -151.86666667,
        -22.85      ,  -69.98333333, -130.68333333, -164.98333333,
       -106.86666667, -151.16666667,  -56.5       , -157.11666667,
         -7.66666667, -162.66666667, -158.31666667,  -54.66666667,
       -167.41666667, -123.25      , -167.2       , -159.21666667,
       -167.03333333, -150.41666667,  -39.33333333, -167.01666667,
        -12.35      , -150.83333333,  -12.81666667, -113.38333333,
       -158.88333333,  -67.7       , -157.03333333, -165.03333333,
        -10.83333333,  -89.28333333,  -69.83333333, -116.01666667,
       -139.71666667,  -71.75      ,  -79.16666667,  -87.        ,
       -152.43333333,  -74.98333333,  -56.33333333,  -29.71666667,
       -160.1       , -103.91666667,  -39.83333333, -140.5       ,
       -161.46666667, -157.16666667, -101.01666667,  -64.43333333,
       -157.76666667, -106.36666667,  -64.13333333,  -35.66666667,
        -41.15      , -156.38333333, -115.86666667, -139.78333333,
        -91.        ,  -36.1       , -162.55      ,  -10.16666667,
        -25.48333333, -155.28333333, -164.86666667,  -69.15      ,
        -61.28333333, -155.43333333, -155.55      , -106.16666667,
       -153.51666667, -154.31666667, -162.1       ,  -13.41666667,
       -137.        ,  -13.35      , -158.5       ,  -35.        ,
        -75.86666667, -112.58333333, -145.25      ,  -46.83333333,
       -101.91666667, -160.11666667, -152.81666667, -163.13333333,
        -10.45      , -162.33333333, -105.28333333, -158.83333333,
        -75.51666667, -105.83333333, -154.7       ,   -9.26666667,
       -160.        , -120.66666667,  -20.55      , -154.31666667,
       -103.58333333, -152.25      , -146.33333333, -156.81666667,
        -86.61666667, -154.21666667, -150.68333333, -127.25      ,
       -110.95      , -106.5       ,  -16.        ,  -80.51666667,
       -155.91666667,  -81.65      ,   -3.85      , -120.5       ,
       -157.45      ,  -89.85      ,  -58.48333333,  -32.91666667,
         -8.75      ,  -75.58333333,   -9.        , -157.65      ,
       -109.5       , -151.25      ,  -56.63333333,  -64.28333333,
       -112.06666667, -108.63333333, -130.28333333,   -9.75      ,
        -39.58333333, -105.56666667,  -11.91666667,  -62.88333333,
       -105.88333333, -101.91666667,  -93.4       , -156.03333333,
       -123.63333333, -163.66666667, -146.66666667, -159.4       ,
        -91.26666667,  -14.4       , -117.65      ,  -65.5       ,
       -159.41666667, -166.5       ,  -57.08333333, -127.3       ,
        -63.75      , -158.5       ,  -57.96666667,  -68.66666667,
        -36.58333333,  -92.56666667, -160.5       ,  -86.6       ,
        -27.05      ,  -65.5       ,  -42.25      , -161.21666667,
        -27.35      ,  -58.06666667, -157.01666667, -166.46666667,
        -82.83333333, -121.78333333,  -63.5       ,  -18.41666667,
       -159.33333333, -160.3       ,  -20.75      , -154.71666667,
        -34.68333333, -107.93333333, -112.38333333,  -89.41666667,
         -8.        ,  -99.61666667,  -84.21666667,  -94.01666667,
       -118.85      , -166.88333333, -161.86666667, -155.63333333,
        -56.5       ,  -10.06666667, -161.5       , -161.85      ,
        -34.5       ,  -48.98333333,  -37.41666667, -153.58333333,
        -63.1       ,  -30.16666667, -152.05      , -156.76666667,
         -7.86666667, -130.13333333, -158.75      ,  -34.63333333,
       -101.13333333, -150.06666667,  -23.23333333, -104.6       ,
       -129.6       ,  -12.2       ,  -41.78333333, -154.76666667])